
<h1> Приложение для создания своего фотоальбома с платной подпиской. </h1>

<h3> После оплаты регистрации кредиткой, клиент получает возможность загружать свои фотографии. </h3>

<p>
<ul class="list-unstyled">
  Тест:
  <li> 1) выбрать Premium Plan  при регистрации </li>
<li> 2) Указать действующий email, на который придет подтверждение регистрации</li>
<li> 3) В качетсве Кредитки указать любой из номеров 4242424242424242
4000056655665556
5555555555554444
cvv- любые три цифры
дата - любая больше текущей</li>
<li> 4) В верхнем меню выбрать "Мой Альбом" и загрузить любое изображение </li>
</ul>
</p>

<p>
<ul class="list-unstyled">
В приложении использованно:
<li> 1) Twitter Bootstrap</li>
<li> 2) Devise + DeviseBootstrap</li>
<li> 3) SendGrid для отправки почты</li>
<li> 4) MiniMagick + Fog AWS + Rmagick для хранения картинок на Amazon S3</li>
<li> 5) Деплой на Heroku https://photo-stock-app.herokuapp.com/</li>
<li> 6) Исходники на https://github.com/sasha370/PhotoApp</li>
</ul>

</p>
